<%= render "welcome/nav_bar" %>
<div class="header-container">
  <h1>Past Events</h1>
</div>
<div class="gallery-container">
  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>

  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>

  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>
  
  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>

  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>

  <div class="gallery-item-card">
    <div class="gallery-item-image">
    </div>
    <h6>12th Jan 2016</h6>
    <h1>Gallery Item</h1>
    <p>
      Vis te antiopam iracundia, ius eu   velit fuisset moderatius, simul   recusabo proat.
    </p>
    <div  class="gallery-item-footer">
      <p>Read more</p>
    </div>
  </div>
</div>
