<%= render "welcome/nav_bar" %>
<div class="about-container">
  <h1>Welcome from the Devbhoomi Association of New Zealand</h1>
  <p class="p-1">Lorem ipsum dolor sit amet, alia dicant assentior ei vim, te mel clita quaestio disputando. Cu mei legendos constituam, case doming nemore mel ei. Eam ut habeo utinam, falli affert inciderint eos in. Meis splendide percipitur sit an, ius eu voluptua quaestio. Sit tritani prodesset ut, cu hinc summo audire ius, eros nostrud petentium et sea.

  Vis te antiopam iracundia, ius eu velit fuisset moderatius, simul recusabo proat. Qui stet suavitate conceptam no. Ne vide dicit civibus has. Mel ad dominglegimus, qui eu scaevola ullamcorper. Ubique urbanitas reformidans mei ex. Nodiscere vituperatoribus mei, timeam definiebas eu sed. Debet viris scribentur exsit.</p>

  
  <div class="paragraph-container">
    <p class="p-2">
      Lorem ipsum dolor sit amet, alia dicant assentior ei vim, te mel clita quaestio disputando. Cu mei legendos constituam, case doming nemore mel ei. Eam ut habeo utinam, falli affert inciderint eos in. Meis splendide percipitur sit an, ius eu voluptua quaestio. Sit tritani prodesset ut, cu hinc summo audire ius, eros nostrud petentium et sea.

      Vis te antiopam iracundia, ius eu velit fuisset moderatius, simul recusabo proat. Qui stet suavitate conceptam no. Ne vide dicit civibus has. Mel ad dominglegimus, qui eu scaevola ullamcorper. Ubique urbanitas reformidans mei ex. Nodiscere vituperatoribus mei, timeam definiebas eu sed. Debet viris scribentur exsit.
    </p>
    <div class="image-one">
      
    </div>
  </div>
  
  <p class="p-3">Lorem ipsum dolor sit amet, alia dicant assentior ei vim, te mel clita quaestio disputando. Cu mei legendos constituam, case doming nemore mel ei. Eam ut habeo utinam, falli affert inciderint eos in. Meis splendide percipitur sit an, ius eu voluptua quaestio. Sit tritani prodesset ut, cu hinc summo audire ius, eros nostrud petentium et sea.

  Vis te antiopam iracundia, ius eu velit fuisset moderatius, simul recusabo proat. Qui stet suavitate conceptam no. Ne vide dicit civibus has. Mel ad dominglegimus, qui eu scaevola ullamcorper. Ubique urbanitas reformidans mei ex. Nodiscere vituperatoribus mei, timeam definiebas eu sed. Debet viris scribentur exsit.

  Lorem ipsum dolor sit amet, alia dicant assentior ei vim, te mel clita quaestio disputando. Cu mei legendos constituam, case doming nemore mel ei. Eam ut habeo utinam, falli affert inciderint eos in. Meis splendide percipitur sit an, ius eu voluptua quaestio. Sit tritani prodesset ut, cu hinc summo audire ius, eros nostrud petentium et sea.

  Vis te antiopam iracundia, ius eu velit fuisset moderatius, simul recusabo proat. Qui stet suavitate conceptam no. Ne vide dicit civibus has. Mel ad dominglegimus, qui eu scaevola ullamcorper. Ubique urbanitas reformidans mei ex. Nodiscere vituperatoribus mei, timeam definiebas eu sed. Debet viris scribentur exsit.</p>
  
  <p class="p-4">Lorem ipsum dolor sit amet, alia dicant assentior ei vim, te mel clita quaestio disputando. Cu mei legendos constituam, case doming nemore mel ei. Eam ut habeo utinam, falli affert inciderint eos in. Meis splendide percipitur sit an, ius eu voluptua quaestio. Sit tritani prodesset ut, cu hinc summo audire ius, eros nostrud petentium et sea.

  Vis te antiopam iracundia, ius eu velit fuisset moderatius, simul recusabo proat. Qui stet suavitate conceptam no. Ne vide dicit civibus has. Mel ad dominglegimus, qui eu scaevola ullamcorper. Ubique urbanitas reformidans mei ex. Nodiscere vituperatoribus mei, timeam definiebas eu sed. Debet viris scribentur exsit.</p>
</div>
