// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container {
  width: 80%;
  margin: auto;
}

.gallery-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.gallery-item-card {
  height: 400px;
  position: relative;
  border: 1px solid black;
}

.gallery-item-footer {
  background-color: grey;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.gallery-item-footer p {
  //WIP:
  // margin: 
}

.gallery-item-card h6 {
  margin: 2px 0 0 0;
  padding-top: 2px;
}

.gallery-item-card h1 {
  margin: 2px 0 0 0;
  padding-top: 2px;
}

.gallery-item-image {
  height: 200px;
  width: 100%;
  margin: auto;
  background-color: blue;
}
